{% extends "layout.html" %}
{% block bodycontent %}
				<h1>About</h1>
				<p> Blabla</p>
        <h2 id="idea">Idea</h2>
        <p>lorenjshjsgd</p>
        <pre>h







          aas
        </pre>
        <h2 id="process">Process</h2>
        <p>lorenjshjsgd</p>
        <h2 id="research">Research</h2>
        <p>lorenjshjsgd</p>
        <p>lorenjshjsgd</p>
        <p>lorenjshjsgd</p>
        <p>lorenjshjsgd</p>
        <p>lorenjshjsgd</p>
        <p>lorenjshjsgd</p>
        <pre>ha</pre>

{% endblock %}
