{% extends "layout.html" %}
{% block bodycontent %}
				<h1>Gallery</h1>
        <h2>Images v0</h2>
				<p>These images were created with different songs and previous versions of my code.</p>
				<p><img src= "https://s3.amazonaws.com/visioning.finalproject/testtest.png" ></p>
				<p><img src= "https://s3.amazonaws.com/visioning.finalproject/test.png" ></p>
				<p><img src= "https://s3.amazonaws.com/visioning.finalproject/haha.png" ></p>
				<p><img src= "https://s3.amazonaws.com/visioning.finalproject/luck.png" ></p>
				<h2 id="comparison">Human // Computer</h2>
				<p>Several people were asked to choose a song and draw a image accordingly.</p>
				<p>From left to right: Earlier versions till final one </p>
				<p><u>611: Bob Dylan - Blowin in the Wind</u></p>
				<p><img src= "https://s3.amazonaws.com/visioning.finalproject/blowinginthewind.png" >
					<img src= "https://s3.amazonaws.com/visioning.finalproject/blowinginthewind2.png" >
					<img src= "https://s3.amazonaws.com/visioning.finalproject/blowinginthewind3.png" >
					<img src= "https://s3.amazonaws.com/visioning.finalproject/blowinginthewind4.png" >
					<img src= "https://s3.amazonaws.com/visioning.finalproject/blowinthewind5.png" >
					<img src= "https://s3.amazonaws.com/visioning.finalproject/blowinginthewind6.png" >
					<img src= "https://s3.amazonaws.com/visioning.finalproject/blowinginthewind7.png" >
					<img src= "https://s3.amazonaws.com/visioning.finalproject/dylanblowinginthewind611.jpeg"  width="50%" height="50%"></p>

					<p><u>Hanna B: Final Fantasy XV - Melancholia</u></p>
					<p><img src= "https://s3.amazonaws.com/visioning.finalproject/melancholia.png" >
						<img src= "https://s3.amazonaws.com/visioning.finalproject/melancholia2.png" >
						<img src= "https://s3.amazonaws.com/visioning.finalproject/melancholia3.png" >
						<img src= "https://s3.amazonaws.com/visioning.finalproject/melancholia4.png" >
						<img src= "https://s3.amazonaws.com/visioning.finalproject/melancholia5.png" >
						<img src= "https://s3.amazonaws.com/visioning.finalproject/melancholia6.png" >
						<img src= "https://s3.amazonaws.com/visioning.finalproject/hannabilder.jpeg"  width="50%" height="50%"></p>

						<p><u>Hanna B: Mozart - Turkish March</u></p>
						<p><img src= "https://s3.amazonaws.com/visioning.finalproject/turkishmarch.png" >
							<img src= "https://s3.amazonaws.com/visioning.finalproject/turkishmarch2.png" >
							<img src= "https://s3.amazonaws.com/visioning.finalproject/turkishmarch3.png" >
							<img src= "https://s3.amazonaws.com/visioning.finalproject/turkishmarch4.png" >
							<img src= "https://s3.amazonaws.com/visioning.finalproject/hannabilder.jpeg"  width="50%" height="50%"></p>

							<p><u>Hanna R: Slipknot - Killpop</u></p>
							<p><img src= "https://s3.amazonaws.com/visioning.finalproject/rainbow.png" >
									<img src= "https://s3.amazonaws.com/visioning.finalproject/rainbow2.png" >
									<img src= "https://s3.amazonaws.com/visioning.finalproject/rainbow3.png" >
								<img src= "https://s3.amazonaws.com/visioning.finalproject/hannabild.jpeg"  width="50%" height="50%"></p>

					<p><u>Michelle: Slipknot - Killpop</u></p>
					<p><img src= "https://s3.amazonaws.com/visioning.finalproject/killpop.png" >
							<img src= "https://s3.amazonaws.com/visioning.finalproject/killpop3.png" >
						<img src= "https://s3.amazonaws.com/visioning.finalproject/michelle1.jpeg"  width="50%" height="50%"></p>

{% endblock %}
